<div class="flex flex-col gap-1">
    <div class="px-3 py-2 m-1 text-gray-400">
        Fees
    </div>
    <div class="px-3 py-2 m-1 rounded  hover:bg-gray-600 text-gray-400 hover:text-white cursor-pointer"
        (click)="toNavigate('feeStructure')">
        # Structure
    </div>
    <div class="px-3 py-2 m-1 rounded  hover:bg-gray-600 text-gray-400 hover:text-white cursor-pointer"
        (click)="toNavigate('feeTransection')">
        # Transection
    </div>
    <div class="px-3 py-2 m-1 rounded  hover:bg-gray-600 text-gray-400 hover:text-white cursor-pointer"
        (click)="toNavigate('feeAnalytics')">
        # Analytics
    </div>
</div>