<div class="flex flex-col gap-1">
    <div class="px-3 py-2 m-1 text-xl  text-gray-400">
        Standard
    </div>

    @for(item of Standards; track item.value){
    <div [ngClass]="{'bg-gray-600': item == activeStandard,'text-white': item == activeStandard}"
        class="px-3 py-2 m-1 rounded  hover:bg-gray-600 text-gray-400 hover:text-white cursor-pointer"
        (click)="standardFilter(item)">
        {{item.name}}
    </div>
    }@empty{
    <label> There are no items. </label>
    }
</div>