<div class="px-4 py-2">
    <div class="text-xl py-2 text-gray-400">
        Fees List
    </div>
    <div class="flex justify-end p-1">
        <button
            class="inline-block rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
            (click)="addStudentFee()">Add Fee
        </button>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead>
                <tr>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">ID</th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Amount</th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Date</th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Mode Of Transection</th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Comment</th>
                    <th class="px-4 py-2"></th>
                </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
                @for (item of data;track item.id) {
                <tr class="h-10 border-b text-center">
                    <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ item.fields.id }}</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.fields.amount }}</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.fields.date_of_transection }}</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.fields.mode_of_transection }}</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.fields.comment }}</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        <div class="text-xs flex gap-1">

                            <button
                                class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                                (click)="editStudentFee(item)">Edit Fee</button>
                            <button
                                class="inline-block rounded bg-green-600 px-4 py-2 text-xs font-medium text-white hover:bg-green-700"
                                (click)="deleteStudentFee(item)">Delete Fee</button>
                        </div>
                    </td>
                </tr>
                } @empty {
                <label> There are no items. </label>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- 
<div class="text-xl px-4 py-3 text-gray-400">
    Fees
</div>
<div class="flex justify-end p-1">
    <button class="p-2 bg-blue-300 rounded cursor-pointer hover:bg-blue-500 hover:text-white" type="button"
        (click)="addStudentFee()">Add Fee</button>
</div>

<div>
    <table class="w-full p-1">
        <thead>
            <tr class="h-10 border-b text-left">
                <th class="px-4">ID</th>
                <th class="px-4">Amount</th>
                <th class="px-4">Date</th>
                <th class="px-4">Mode Of Transection</th>
                <th class="px-4">Comment</th>

            </tr>
        </thead>
        <tbody>
            @for (item of data;track item.id) {
            <tr class="h-10 border-b text-left">
                <td class="px-4">{{ item.fields.id }}</td>
                <td class="px-4">{{ item.fields.amount }}</td>
                <td class="px-4">{{ item.fields.date_of_transection }}</td>
                <td class="px-4">{{ item.fields.mode_of_transection }}</td>
                <td class="px-4">{{ item.fields.comment }}</td>

                <td class="px-4">
                    <div class="text-xs flex gap-1">
                        <button class="p-2 bg-green-300 rounded cursor-pointer hover:bg-green-500 hover:text-white"
                            (click)="editStudentFee(item)">Edit Fee</button>
                        <button class="p-2 bg-red-300 rounded cursor-pointer hover:bg-green-500 hover:text-white"
                            (click)="deleteStudentFee(item)">Delete Fee</button>
                    </div>
                </td>
            </tr>
            } @empty {
            <label> There are no items. </label>
            }
        </tbody>
    </table>
</div> -->