<div class="flex flex-col gap-1 w-full h-full overflow-y-auto no-scrollbar p-1">
    <div class="flex justify-between">
        <div class="flex gap-1">
            <div>
                <button class="p-2 bg-purple-200 rounded hover:bg-purple-300" type="button"
                    (click)="backToFee()">Back</button>
            </div>
            <div>
                <button class="p-2 bg-blue-200 rounded hover:bg-blue-300" type="button"
                    (click)="addEditStudentFee()">Save</button>
            </div>
            <div>
                <button class="p-2 bg-blue-200 rounded hover:bg-blue-300" type="button"
                    (click)="resetForm()">Reset</button>
            </div>
        </div>
        @if(actionMessage != ""){
        <div>
            <div>
                <div class="p-2 bg-green-200 rounded" type="button">{{actionMessage}}</div>
            </div>
        </div>
        }
    </div>
    <div class="border rounded p-1">
        <form [formGroup]="addEditFee" class="flex flex-col gap-2">

            <div class="flex gap-2">
                <div class="w-3/12">
                    <label class="p-2 w-full text-end inline-block">Amount</label>
                </div>
                <div class="w-6/12">
                    <input class="p-2 focus:outline-none bg-blue-100 rounded w-full" placeholder="Amount"
                        formControlName="amount" type="text">
                </div>
            </div>
            <div class="flex gap-2">
                <div class="w-3/12">
                    <label class="p-2 w-full text-end inline-block">Date Of Transection</label>
                </div>
                <div class="w-3/12">
                    <input class="p-2 focus:outline-none bg-blue-100 rounded w-full" placeholder="Date Of Transection"
                        formControlName="date_of_transection" type="date">
                </div>
            </div>

            <div class="flex gap-2">
                <div class="w-3/12">
                    <label class="p-2 w-full text-end inline-block">Mode Of Transection</label>
                </div>
                <div class="w-3/12">
                    <select formControlName="mode_of_transection"
                        class="w-full p-2 rounded bg-blue-100 focus:outline-none">
                        @for (item of modeOfTransections;track item.value) {
                        <option [value]="item.value">{{item.name}}</option>
                        }@empty {
                        <label> There are no items.</label>
                        }
                    </select>
                </div>
            </div>
            <div class="flex gap-2">
                <div class="w-3/12">
                    <label class="p-2 w-full text-end inline-block">Comment</label>
                </div>
                <div class="w-6/12">
                    <textarea class="p-2 focus:outline-none bg-blue-100 rounded w-full" placeholder="Comment"
                        formControlName="comment" type="text"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>