<div class="flex flex-col">
    @if(!skipOnInit){
    <div class="px-1">
        <div class="bg-gray-500 rounded p-2 flex gap-2">
            <div class="flex flex-col text-6xl">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="flex flex-col w-full">
                <div class="flex">
                    <div class="w-2/12">
                        First Name
                    </div>
                    <div>
                        : {{selectedStudent.fields.first_name}}
                    </div>
                </div>
                <div class="flex">
                    <div class="w-2/12">
                        Last Name
                    </div>
                    <div>
                        : {{selectedStudent.fields.last_name}}
                    </div>
                </div>
                <div class="flex">
                    <div class="w-2/12">
                        Standard
                    </div>
                    <div>
                        : {{selectedStudent.fields.standard}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

    <div>
        <router-outlet></router-outlet>
    </div>
</div>