<div class="px-4 py-2">
    <div class="text-xl py-2 text-gray-400">
        Students List
    </div>
    <div class="flex justify-end p-1">
        <button
            class="inline-block rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
            (click)="addStudent()">Add Student
        </button>
    </div>
    <div class="flex gap-1 items-center p-1 w-3/12">
        <div class="relative">
            <label for="Search" class="sr-only"> Search </label>

            <input type="text" id="Search" placeholder="Search for..." [formControl]="searchStudent"
                class="w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm p-2" />

            <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
                <button type="button" class="text-gray-600 hover:text-gray-700">
                    <span class="sr-only">Search</span>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="h-4 w-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </button>
            </span>
        </div>

    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead>
                <tr>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">ID</th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">First Name</th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Last Name</th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Standard</th>
                    <th class="px-4 py-2"></th>
                </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
                @for (item of data;track item.id) {
                <tr class="h-10 border-b text-center">
                    <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ item.fields.id }}</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.fields.first_name }}</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.fields.last_name }}</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.fields.standard }}</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        <div class="text-xs flex gap-1">

                            <button
                                class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                                (click)="editStudent(item)">Personal</button>
                            <button
                                class="inline-block rounded bg-green-600 px-4 py-2 text-xs font-medium text-white hover:bg-green-700"
                                (click)="editStudentFee(item)">Fee</button>
                        </div>
                    </td>
                </tr>
                } @empty {
                <label> There are no items. </label>
                }
            </tbody>
        </table>
    </div>
</div>